<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      <ion-label style="color:#919191; font-family:Verdana, Geneva, Tahoma, sans-serif">T</ion-label>
      <ion-label style="color:rgb(112, 0, 0)">ec</ion-label>
      <ion-label style="color:#919191;  font-family:Verdana, Geneva, Tahoma, sans-serif"> N</ion-label>
      <ion-label style="color:rgb(112, 0, 0)">ews</ion-label>
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content padding>
  <ion-slides [options]="slideOpts" style="background-color: aliceblue;">
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <img src="../../../assets/img/vesti.jpg">
          <br>
          <ion-label style="color:rgb(100, 99, 99)">
            Tenha em mãos o CPF do candidato, que é obrigatório para realizar a inscrição. Boa Prova!!!
          </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-content>
          <img src="../../../assets/img/fantasy.jpg">
          <br>
          <ion-label style="color:rgb(100, 99, 99)">
            Etec Fantasy (a mais esperada) chegou!! Então que largada seja dada para a corrida até às lojas que alugam
            fantasias!
          </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-content>
          <img src="../../../assets/img/openetec.jpg">
          <br>
          <ion-label style="color:rgb (100, 99, 99)">
            A ETEC abre as portas para que todos possam ver projetos e atividades feita pelos nossos alunos!
          </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <br>
  <br>
  <h1>Venha fazer nossos CURSOS !</h1>

  <ion-slides [options]="slideOpts" style="background-color: aliceblue;">
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <img src="../../../assets/img/facaetec.jpg">
          <br>
          <ion-label style="color:rgb(100, 99, 99)">
          </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-content>
          <img src="../../../assets/img/etim.jpg">
          <br>
          <ion-label style="color:rgb(100, 99, 99)">

          </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-content>
          <img src="../../../assets/img/contabilidade.jpg">
          <br>
          <ion-label style="color:rgb (100, 99, 99)">
          </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <br>
  <br>

  <!-- Exibe a contagem regressiva do vestibulinho -->
  <h1>Clique aqui para se inscrever no vestibulinho <ion-icon name="arrow-down"></ion-icon></h1>
  <div class="texto">
    <ion-label>
      <a href="https://www.vestibulinhoetec.com.br/home/">
        <ion-chip color="dark" id="demo" style="font-size: 18px;"></ion-chip>
      </a>
    </ion-label>
  </div>

</ion-content>