<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" defaultHref="/tabs/tab1">
    <ion-back-button></ion-back-button>
  </ion-buttons>
    <ion-title style="color:brown">Administração</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>O TÉCNICO EM ADMINISTRAÇÃO é o profissional que adota postura ética na execução da rotina administrativa, na
    elaboração do
    planejamento da produção e materiais, recursos humanos, financeiros e mercadológicos. Realiza atividades de
    controles e auxilia nos
    processos de direção utilizando ferramentas da informática básica. Fomenta ideias e práticas empreendedoras.
    Desempenha suas
    atividades observando as normas de segurança, saúde e higiene do trabalho, bem como as de preservação ambiental.</p>

  <p>Eixo Tecnológico: GESTÃO E NEGÓCIOS</p>

  <p>Mercado de trabalho</p>
  <p>instituições públicas, privadas e do terceiro setor.</p>

  <b>Pré-Requisitos</b>
  <p>Para candidato que concluiu ou está cursando o Ensino Médio regular:</p>
  <p>possuir Certificado de Conclusão do Ensino Médio ou declaração que está matriculado na 2ª ou 3ª série do Ensino
    Médio.</p>
  <p>Para candidato que concluiu ou está cursando a Educação de Jovens e Adultos - EJA ou o Exame Nacional para Acesso
    às vagas
    remanescentess de Jovens e Adultos - ENCCEJA:</p>
  <p>possuir Certificado de Conclusão do Ensino Médio ou declaração que está matriculado, a partir do 2º semestre do EJA
    ou 2
    (dois) certificados de aprovação em áreas de estudos do EJA, ou boletim de aprovação do ENCCEJA enviado pelo MEC, ou
    certificado
    de aprovação do ENCCEJA em 2 (duas) áreas de estudos avaliadas.</p>
  <p>Para candidato que tenha realizado o Exame Nacional do Ensino Médio – ENEM:</p>
  <p>possuir certificado ou declaração de conclusão do Ensino Médio expedido por órgão competente.</p>

</ion-content>