<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start" defaultHref="/tabs/tab1">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>MARKETING</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>O TÉCNICO EM MARKETING é o profissional ético que colabora na elaboração do plano de marketing da empresa, de
    acordo com seu
    ramo ou porte, tendo a competência aliada ao domínio técnico e no planejamento e implementação de ações de vendas e
    ações de
    mercado. Executa tarefa de análise das vendas, preços e produtos. Operacionaliza as políticas de comunicação da
    empresa:
    fidelização de clientes, relação com fornecedores ou outras entidades. Operacionaliza políticas de apresentação dos
    produtos no
    ponto de venda. Executa o controle, estatísticas e operações de telemarketing. Participa na elaboração e na
    realização de estudos
    de mercado, interpreta e aplica a legislação da área.</p>

  <p>Eixo Tecnológico: GESTÃO E NEGÓCIOS</p>

  <p>Mercado de trabalho</p>
  <p>instituições públicas, privadas e do terceiro setor; comércio; empresas de consultoria e de forma autônoma.</p>

  <b>Pré-Requisitos</b>
  <p>Para candidato que concluiu ou está cursando o Ensino Médio regular:</p>
  <p>possuir Certificado de Conclusão do Ensino Médio ou declaração que está matriculado na 2ª ou 3ª série do Ensino
    Médio.</p>
  <p>Para candidato que concluiu ou está cursando a Educação de Jovens e Adultos - EJA ou o Exame Nacional para Acesso
    às vagas
    remanescentess de Jovens e Adultos - ENCCEJA:</p>
  <p>possuir Certificado de Conclusão do Ensino Médio ou declaração que está matriculado, a partir do 2º semestre do EJA
    ou 2 (dois)
    certificados de aprovação em áreas de estudos do EJA, ou boletim de aprovação do ENCCEJA enviado pelo MEC, ou
    certificado de
    aprovação do ENCCEJA em 2 (duas) áreas de estudos avaliadas.</p>
  <p>Para candidato que tenha realizado o Exame Nacional do Ensino Médio – ENEM:</p>
  <p>possuir certificado ou declaração de conclusão do Ensino Médio expedido por órgão competente.</p>
</ion-content>