<ion-header>
  <ion-toolbar>
    <ion-button (click)="fecha()" class="botao">
      <ion-icon name="arrow-round-back"></ion-icon>
    </ion-button>
    <div class="titulo">
      <ion-label style="color:darkgrey; font-family:Verdana, Geneva, Tahoma, sans-serif">E</ion-label>
      <ion-label style="color:rgb(134, 0, 0)">ventos</ion-label>
      <ion-label style="color:darkgrey;  font-family:Verdana, Geneva, Tahoma, sans-serif"> E</ion-label>
      <ion-label style="color:rgb(134, 0, 0)">tec</ion-label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  
</ion-content>