<ion-header>
  <ion-toolbar>
    <ion-title text-center>
        <ion-label style="color:#919191; font-family:Verdana, Geneva, Tahoma, sans-serif">T</ion-label>
        <ion-label style="color:rgb(112, 0, 0)">ec</ion-label>
        <ion-label style="color:#919191;  font-family:Verdana, Geneva, Tahoma, sans-serif"> N</ion-label>
        <ion-label style="color:rgb(112, 0, 0)">ews</ion-label>
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content padding>
  <ion-item class="game">
    <ion-badge slot="start">
      <h3 style="color: rgb(255, 238, 0)">Maio</h3>
      <h1 style="color: rgb(255, 255, 255)">09</h1>
    </ion-badge>
    <ion-label>
      <div>
        <h1>Etec Games</h1>
      </div>
      <div>
        <!-- Botão que abre as informaçoes do evento -->
        <ion-button style="color:dimgray" expanded="full"  routerLink="/game">
          ver sobre o evento
        </ion-button>
      </div>
    </ion-label>
  </ion-item>
 
  <br>

  <ion-item class="junina">
    <ion-badge slot="start">
      <h3 style="color: rgb(255, 238, 0)">Junho</h3>
      <h1 style="color: rgb(255, 255, 255)">15</h1>
    </ion-badge>
    <ion-label>
      <div>
        <h1>Festa Junina </h1>
      </div>
      <div>
        <!-- Botão que abre as informaçoes do evento -->
        <ion-button style="color:dimgray" expanded="full"  routerLink="/junina">
          ver sobre o evento
        </ion-button>
      </div>
    </ion-label>
  </ion-item>

  <br>

  <ion-item class="tec">
    <ion-badge slot="start">
      <h3 style="color: rgb(255, 238, 0)">Agosto</h3>
      <h1 style="color: rgb(255, 255, 255)">16</h1>
    </ion-badge>
    <ion-label>
      <div>
        <h1>Hackathon </h1>
      </div>
      <div>
        <!-- Botão que abre as informaçoes do evento -->
        <ion-button style="color:dimgray" expanded="full"  routerLink="/hackathon">
          ver sobre o evento
        </ion-button>
      </div>
    </ion-label>
  </ion-item>

  <br>

  <ion-item class="escola">
    <ion-badge slot="start">
      <h3 style="color: rgb(255, 238, 0)">Outubro</h3>
      <h1 style="color: rgb(255, 255, 255)">16 à 17</h1>
    </ion-badge>
    <ion-label>
      <div>
        <h1>Escola Aberta </h1>
      </div>
      <div>
        <!-- Botão que abre as informaçoes do evento -->
        <ion-button style="color:dimgray" expanded="full"  routerLink="/escola">
          ver sobre o evento
        </ion-button>
      </div>
    </ion-label>
  </ion-item>

  <br>

  <ion-item class="festa">
    <ion-badge slot="start">
      <h3 style="color: rgb(255, 238, 0)">Dezembro</h3>
      <h1 style="color: rgb(255, 255, 255)">10</h1>
    </ion-badge>
    <ion-label>
      <div>
        <h1>Etec Fantasy</h1>
      </div>
      <div>
        <!-- Botão que abre as informaçoes do evento -->
        <ion-button style="color:dimgray" expanded="full"  routerLink="/fantasy">
          ver sobre o evento
        </ion-button>
      </div>
    </ion-label>
  </ion-item>

</ion-content>