<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start" defaultHref="/tabs/tab1">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title style="color:brown">ETIM</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <b>Ensino Técnico em Desenvolvimento de Sistemas Integrado ao Ensino Médio</b>
  <p>Período: Integral</p>
  <p>Duração: 3 anos</p>

  <p>Eixo Tecnológico: Informação e Comunicação</p>

  <p>O técnico em Informática desenvolve e opera sistemas, aplicações e interfaces gráficas. Monta estruturas de banco
    de dados e
    codifica programas. Projeta, implanta e realiza manutenção de sistemas e aplicações. Seleciona recursos de trabalho,
    linguagens de
    programação, ferramentas e metodologias para o desenvolvimento de sistemas.</p>

  <p>Mercado de Trabalho: Instituições públicas, privadas e do terceiro setor que demandem sistemas computacionais,
    especialmente
    envolvendo programação de computadores.</p>


  <b>Ensino Técnico em Administração Integrado ao Ensino Médio</b>
  <p>Período: Integral</p>
  <p>Duração: 3 anos</p>

  <p>Eixo Tecnológico: Gestão e Negócios</p>

  <p>Adota postura ética na execução da rotina administrativa, na elaboração do planejamento da produção e materiais,
    recursos humanos,
    financeiros e mercadológicos. Realiza atividades de controles e auxilia nos processos de direção utilizando
    ferramentas da
    informática básica. Fomenta ideias e práticas empreendedoras.</p>

  <p>Mercado de Trabalho: Instituições públicas, privadas e do terceiro setor.</p>
</ion-content>