<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" defaultHref="/tabs/tab1">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="color:brown">Fantasy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding  ion-text-justify">
  <!-- Etec Fantasy -->

  <ion-img src="../../assets/imgEv/fantasy.jpg"></ion-img>
  <br>
  <ion-label>Etec Fantasy (a mais esperada) chegou!! Então que largada seja dada para a corrida até às lojas que alugam
    fantasias!</ion-label>
    <br><br>
  <ion-img src="../../assets/imgEv/f1.jpg"></ion-img>
  <br>
  <ion-label>E para os mais artísticos que fazem a própria fantasia, que a largada seja dada para as lojinhas de mil e
    uma utilidades da vida! </ion-label>
    <br><br>
  <ion-img src="../../assets/imgEv/f2.jpg"></ion-img>
  <br>
  <ion-label>MAS NÃO VÃO ESQUECER DE COMPRAR O INGRESSO pois não vai ser a fantasia que vai convencer o segurança a te
    deixar entrar!</ion-label>
    <br><br>
  <ion-img src="../../assets/imgEv/f3.jpg"></ion-img>
  <br>
  <ion-label>Então vamos lá:</ion-label>
  <br><br>
  <ion-img src="../../assets/imgEv/f4.jpg"></ion-img>
  <br>
  <ion-label>É uma festa para a diversão de todos, ela é organizada principalmente pelos alunos, que montam um grupo
    para organiza-la, mas que contou também com uma equipe que montou o som e as luzes.</ion-label>
    <br><br>
  <ion-img src="../../assets/imgEv/f5.jpg"></ion-img>
  <br>
  <ion-label>A atração principal é o Dj que anima a fasta inteira, ela conta com um local para tirar fotos, praça de
    alimentação e uma local para as pessoas descansarem.</ion-label>
    <br><br>
  <ion-img src="../../assets/imgEv/f6.jpg"></ion-img>
  <br>
  <ion-label>Com mais de 500 convidados tirando os alunos, a festa é um sucesso a ETEC, adoramos a presença de todos,
    obrigado por participarem.</ion-label>
    <br><br>
  <ion-img src="../../assets/imgEv/f7.jpg"></ion-img>
  <!-- FIM Etec Fantasy -->
</ion-content>