<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" defaultHref="/tabs/tab3">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="color:brown">Game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding  ion-text-justify">
  <!--ETEC GAMES-->

  <ion-img src="../../assets/imgEv/g1.jpg"></ion-img>
  <br>
  <ion-label>A Etec Games é um campeonato de jogos, organizado principalmente pelos alunos, para a diversão de todos!</ion-label>
<br><br>
  <ion-img src="../../assets/imgEv/g6.jpg"></ion-img>
  <br>
  <ion-label>Alguns dos jogos são: CS GO - FIFA 18 - FREE FIRE - TRUCO - JUST DANCE (KINECT), entre outros.</ion-label>
  <br><br>
  <ion-img src="../../assets/imgEv/g2.jpg"></ion-img>
  <br>
  <ion-label>Como parte integrante dos eventos relacionados a Semana Paulo Freire, acontece o tradicional
    campeonato de games na Etec de Ibitinga.</ion-label>
    <br><br>
  <ion-img src="../../assets/imgEv/g3.jpg"></ion-img>
  <br>
  <ion-label>Os interessados devem se inscrever, já que as vagas são limitadas. As inscrições são realizadas
    na Secretaria da Escola.</ion-label>
    <br><br>
  <ion-img src="../../assets/imgEv/g4.jpg"></ion-img>
  <br>
  <ion-label>Ocorrem campeonatos de Counter-Strike - Global Offensive (CS-GO), Fifa 18 e Free Fire.
    Valor da<ion-label style="color: darkred;"> Inscrição: R$ 10,00 </ion-label>por pessoa <ion-label style="color: darkred;">(</ion-label>exceções, Truco, R$ 2,00 por pessoa<ion-label style="color: darkred;">)</ion-label>, CS-GO, Free Fire
    que devem obrigatoriamente ser formadas por 05 pessoas ). </ion-label>
    <br><br>
  <ion-img src="../../assets/imgEv/g5.jpg"></ion-img>
  <br>
  <ion-label>Com premiação em dinheiro, o evento é um sucesso na ETEC, adoramos a presença de todos,
    obrigado por participarem.</ion-label>
    <br><br>
  <ion-img src="../../assets/imgEv/g7.jpg"></ion-img>
  <!-- FIM ETEC GAMES-->
</ion-content>