<ion-header>
  <ion-toolbar>
      <ion-button href="../" class="botao" text-left>
        <ion-icon name="arrow-round-back"></ion-icon>

        <div class="titulo">
          <ion-label style="color:darkgrey; font-family:Verdana, Geneva, Tahoma, sans-serif">T</ion-label>
          <ion-label style="color:rgb(247, 65, 65)">ec</ion-label>
          <ion-label style="color:darkgrey;  font-family:Verdana, Geneva, Tahoma, sans-serif"> N</ion-label>
          <ion-label style="color:rgb(247, 65, 65)">ews</ion-label>
        </div>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>

</ion-content>
