<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start" defaultHref="/tabs/tab1">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title style="color:brown">Festa Junina</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding  ion-text-justify">
  <!--FESTA JUNINA-->

  <ion-img src="../../assets/imgEv/j1.jpg"></ion-img>
  <br>
  <ion-label>É uma noite de festa caipira na Etec de Ibitinga.!</ion-label>
  <br><br>
  <ion-img src="../../assets/imgEv/j2.jpg"></ion-img>
  <br>
  <ion-label>A Etec promove a "FESTA DA ROÇA" e conta com apresentações artisticas como dança,
    musica, culinária caipira e diversas barracas típicas.</ion-label>
    <br><br>
  <ion-img src="../../assets/imgEv/j3.jpg"></ion-img>
  <br>
  <ion-label>Pipoca, chocolate quente e música sertaneja não vão faltar na Festa Junina da Etec
    de Ibitinga.</ion-label>
    <br><br>
  <ion-img src="../../assets/imgEv/j4.jpg"></ion-img>
  <br>
  <ion-label>Evento realizado pela escola e alunos. E em como toda festa, terão os comes e bebes:
    Cachorro-quente, Pipoca, Algodão Doce, Bolo de fubá, Quentão (sem álcool) e muito
    mais.</ion-label>
    <br><br>
  <ion-img src="../../assets/imgEv/j5.jpg"></ion-img>
  <br>
  <ion-label>Para divertir ainda mais temos Correio Elegante e Cadeia do Amor.
    E é claro que não podia faltar a tradicional Quadrilha.</ion-label>
    <br><br>
  <ion-img src="../../assets/imgEv/j6.jpg"></ion-img>
  <br>
  <ion-label>Ah... e muito importante, não esqueçam de vir à caráter. Moças, preparem seus vestidos
    e cavalheiros preparem seus chapéus e a camisa xadrez!</ion-label>
    <br><br>
  <ion-img src="../../assets/imgEv/j7.jpg"></ion-img>
  <!--FIM FESTA JUNINA-->
</ion-content>