<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" defaultHref="/tabs/tab1">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="color:brown">Escola Aberta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding  ion-text-justify">
  <ion-img src="../../assets/imgEv/e1.jpg"></ion-img>
  <br>
  <ion-label>O Hackathon é organizado pelo curso técnico em Desenvolvimento de Sistemas da
    Etec de Ibitinga, voltado principalmente para estudantes criativos que buscam
    soluções para problemas reais de diferentes áreas.</ion-label><br>
    <br>
  <ion-img src="../../assets/imgEv/e2.jpg"></ion-img>
  <br>
  <ion-label>Segundo Richard Tordoya, Fundador da Comunidade Hackathon Brasil, hackathon é
    muito mais do que um evento ou uma maratona de programação.</ion-label><br>
    <br>
  <ion-img src="../../assets/imgEv/e3.jpg"></ion-img>
  <br>
  <ion-label>É um ambiente transformador! Transforma pessoas, transforma vidas, transforma a
    sociedadeNo evento, participantes se organizam em equipes para chegar em uma
    solução criativa, inovadora e que supra demandas existentes - com o desafio de
    alcançar esse objetivo dentro de 03 dias letivos em horário de aula.</ion-label><br>
    <br>
  <ion-img src="../../assets/imgEv/e4.jpg"></ion-img>
  <br>
  <ion-label>Em suas edições os temas são variados, buscando produzir protótipos de
    software (aplicativo, sistema web, etc.) ou de hardware que tragam benefícios
    para a comunidade.</ion-label><br>
    <br>
  <ion-img src="../../assets/imgEv/e5.jpg"></ion-img>
  <br>
  <h3 style="color: darkorange;">PROGRAMAÇÃO</h3><br>
  <ion-label>•PRIMEIRO DIA</ion-label><br>
  <ion-label>19:00 - Recepção dos alunos, mentores e convidados.</ion-label><br>
  <ion-label>19:30 - Abertura oficial e palestra sobre os principais problemas de turismo da cidade.</ion-label><br>
  <ion-label>20:20 - Apresentação das regras do evento e sorteio das equipes.</ion-label><br>
  <ion-label>21:45 - Intervalo para lanche.</ion-label><br>
  <ion-label> 21:00 - Início do desenvolvimento das soluções pelas equipes.</ion-label><br>
  <ion-label>23:00 - Finalização do primeiro dia do evento.</ion-label><br>
  <br>

  <ion-img src="../../assets/imgEv/e6.jpg"></ion-img>
  <br>
  <h3 style="color: darkorange;">•SEGUNDO DIA</h3>
  <ion-label>19:00 - Início do 2º dia do evento, continuidade do desenvolvimento das soluções pelas equipes.</ion-label><br>
  <ion-label>20:45 - Intervalo para o lanche.</ion-label><br>
  <ion-label>21:00 - Continuação do desenvolvimento pelas equipes.</ion-label><br>
  <ion-label>23:00 - Término</ion-label><br>
  <br>
  <ion-img src="../../assets/imgEv/e7.jpg"></ion-img>
</ion-content>