ion-badge{
    width: 110px;
    height: 125px;

    background: rgb(255, 238, 0);
    border-color:black;
    border-width: 20px;
    ion-label{
        color:#888888;
    }
}

.fc{
    width: 100%;
    height: 650px;
    background: #888888;
}
.nada{
    background: #ffffff;
}