<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      <ion-label style="color:#919191; font-family:Verdana, Geneva, Tahoma, sans-serif">T</ion-label>
      <ion-label style="color:rgb(112, 0, 0)">ec</ion-label>
      <ion-label style="color:#919191;  font-family:Verdana, Geneva, Tahoma, sans-serif"> N</ion-label>
      <ion-label style="color:rgb(112, 0, 0)">ews</ion-label>
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content padding>

  <b style="color:rgb(255, 251, 0); font-size:40px;">Cursos:</b>

  <ion-badge class="fc">


    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-badge routerLink="/ds">
            <div>
              <img src="../../assets/img/system.jpg">
            </div>
            <div>
              <ion-label>Desenvolvimento <br> de <br> Sistemas</ion-label>
            </div>
          </ion-badge>
        </ion-col>

        <ion-col>
          <ion-badge routerLink="/adm">
            <div>
              <img src="../../assets/img/adm.jpg">
            </div>
            <br>
            <div>
              <ion-label>Administrção</ion-label>
            </div>
          </ion-badge>
        </ion-col>
      </ion-row>
      <br>
      <br>
      <ion-row>
        <ion-col>
          <ion-badge routerLink="/rh">
            <div>
              <img src="../../assets/img/rh.jpg">
            </div>
            <br>
            <div>
              <ion-label>Recursos <br> Humanos</ion-label>
            </div>
          </ion-badge>
        </ion-col>

        <ion-col>
          <ion-badge routerLink="/sj">
            <div>
              <img src="../../assets/img/juridico.jpg">
            </div>
            <br>
            <div>
              <ion-label>Serviços <br> Jurídicos</ion-label>
            </div>
          </ion-badge>
        </ion-col>
      </ion-row>
      <br>
      <br>
      <ion-row>
        <ion-col>
          <ion-badge routerLink="/marke">
            <div>
              <img src="../../assets/img/markething.jpg">
            </div>
            <br>
            <br>
            <div>
              <ion-label>Markething</ion-label>
            </div>
          </ion-badge>
        </ion-col>

        <ion-col>
          <ion-badge routerLink="/conta">
            <div>
              <img src="../../assets/img/contabilidade.jpg">
            </div>
            <br>
            <div>
              <ion-label>Contabilidade</ion-label>
            </div>
          </ion-badge>
        </ion-col>
      </ion-row>
      <br>
      <br>
      <ion-row>
        <ion-col>
          <ion-badge routerLink="/vestu">
            <div>
              <img src="../../assets/img/vestuario.jpg">
            </div>
            <br>
            <br>
            <div>
              <ion-label>Vestuário</ion-label>
            </div>
          </ion-badge>
        </ion-col>

        <ion-col>
          <ion-badge routerLink="/etim">
            <div>
              <img src="../../assets/img/etim.jpg">
            </div>
            <br>
            <div>
              <ion-label>Ensino Médio <br> com <br> Técnico</ion-label>
            </div>
          </ion-badge>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-badge>
</ion-content>