<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start" defaultHref="/tabs/tab1">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title style="color:brown">RH</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>O TÉCNICO EM RECURSOS HUMANOS é o profissional que detém aptidão para intermediar as relações interpessoais e
    éticas de uma
    organização. É habilitado para trabalhar na execução das rotinas administrativas de pessoal com base na Legislação
    Trabalhista e
    Previdenciária. Auxilia no controle e avaliação de subsistemas de gerenciamento e contribui para a implementação das
    estratégias
    organizacionais. Compromete-se com o desenvolvimento humano, administra pessoal, promove ações de treinamento,
    identifica e
    sugere plano de benefícios. Descreve e classifica postos de trabalho, aplica questionários e processa informações
    acerca dos
    trabalhadores. Atua nos processos de recrutamento, seleção e integração, assessora as relações de trabalho e
    sistemas de
    avaliação de desempenho. Presta serviços de comunicação oral e escrita, liderança, motivação, formação de equipes e
    desenvolvimento de pessoal com empenho no crescimento simultâneo, individual e do grupo. Realiza ações
    empreendedoras e em
    processos de orientação sobre a importância da segurança no trabalho e da saúde ocupacional. Propõe relações
    positivas propícias
    para o clima organizacional e responsabilidade social aos diversos públicos.</p>

  <p>Eixo Tecnológico: GESTÃO E NEGÓCIOS</p>

  <p>Mercado de trabalho</p>
  <p>Organizações públicas, privadas, mistas e do terceiro setor ou como autônomos e consultores.</p>

  <b>Pré-Requisitos</b>
  <p>Para candidato que concluiu ou está cursando o Ensino Médio regular:</p>
  <p>possuir Certificado de Conclusão do Ensino Médio ou declaração que está matriculado na 2ª ou 3ª série do Ensino
    Médio.</p>
  <p>Para candidato que concluiu ou está cursando a Educação de Jovens e Adultos - EJA ou o Exame Nacional para Acesso
    às vagas
    <p>remanescentess de Jovens e Adultos - ENCCEJA:</p>
    <p>possuir Certificado de Conclusão do Ensino Médio ou declaração que está matriculado, a partir do 2º semestre do
      EJA ou 2 (dois)
      certificados de aprovação em áreas de estudos do EJA, ou boletim de aprovação do ENCCEJA enviado pelo MEC, ou
      certificado de
      aprovação do ENCCEJA em 2 (duas) áreas de estudos avaliadas.</p>
    <p>Para candidato que tenha realizado o Exame Nacional do Ensino Médio – ENEM:</p>
    <p>possuir certificado ou declaração de conclusão do Ensino Médio expedido por órgão competente.</p>

</ion-content>