<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start" defaultHref="/tabs/tab1">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title style="color:brown">Serviços Jurídicos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>O TÉCNICO EM SERVIÇOS JURÍDICOS é o profissional que executa serviços de suporte e apoio técnico-administrativo a
    escritórios
    de advocacia, de auditoria jurídica, recursos humanos e departamentos administrativos, bem como cumpre as
    determinações legais
    atribuídas a cartórios judiciais e extrajudiciais, executando procedimentos e registros cabíveis. É responsável pelo
    gerenciamento e pelo arquivo de processos e de documentos técnicos. Presta atendimento ao público.</p>

  <p>Eixo Tecnológico: GESTÃO E NEGÓCIOS</p>

  <p>Mercado de trabalho</p>
  <p>empresas privadas - departamentos jurídicos, departamento de recursos humanos, financeiro e contábil, escritórios
    de advocacia
    e escritórios de auditoria jurídica e Serviços de Atendimento ao Cliente (SAC); setor público - departamentos
    administrativos que
    necessitem de assistentes com conhecimento jurídico, cartórios extrajudiciais e judiciais e tribunais arbitrais.</p>

  <b>Pré-Requisitos</b>
  <p>Para candidato que concluiu ou está cursando o Ensino Médio regular:</p>
  <p>possuir Certificado de Conclusão do Ensino Médio ou declaração que está matriculado na 2ª ou 3ª série do Ensino
    Médio.</p>
  <p>Para candidato que concluiu ou está cursando a Educação de Jovens e Adultos - EJA ou o Exame Nacional para Acesso
    às vagas
    remanescentess de Jovens e Adultos - ENCCEJA:</p>
  <p>possuir Certificado de Conclusão do Ensino Médio ou declaração que está matriculado, a partir do 2º semestre do EJA
    ou 2 (dois)
    certificados de aprovação em áreas de estudos do EJA, ou boletim de aprovação do ENCCEJA enviado pelo MEC, ou
    certificado de
    aprovação do ENCCEJA em 2 (duas) áreas de estudos avaliadas.</p>
  <p>Para candidato que tenha realizado o Exame Nacional do Ensino Médio – ENEM:</p>
  <p>possuir certificado ou declaração de conclusão do Ensino Médio expedido por órgão competente.</p>


</ion-content>