<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start" defaultHref="/tabs/tab1">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title style="color:brown">Contabilidade</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>O TÉCNICO EM CONTABILIDADE é o profissional que efetua anotações das transações financeiras da organização e
    examina documentos
    fiscais e parafiscais. Analisa a documentação contábil e elabora planos de determinação de taxas de depreciação e
    exaustão dos
    bens materiais de amortização dos valores imateriais. Organiza, controla e arquiva os documentos relativos à
    atividade contábil
    e controla as movimentações. Constitui e regulariza empresas, identifica documentos e informações, atende à
    fiscalização e procede
    a consultoria empresarial. Executa a contabilidade geral, operacionaliza a contabilidade de custos e efetua
    contabilidade
    gerencial. Administra o departamento de pessoal e realiza controle patrimonial.</p>

  <p>Eixo Tecnológico: GESTÃO E NEGÓCIOS</p>

  <p>Mercado de trabalho</p>
  <p>trabalha em escritórios de contabilidade, em departamentos de contabilidade de empresas agrícolas, comerciais,
    industriais e de
    serviços e em órgãos governamentais.</p>

  <b>Pré-Requisitos</b>
  <p>Possuir experiência profissional nas áreas dos respectivos cursos técnicos, mediante avaliação e certificação de
    competências
    referente ao 1º módulo.</p>
  <p>Ter concluído o Ensino Médio.</p>
  <p>O Curso de Técnico em Contabilidade a certificação, desde 02/06/2015, não prevê a obtenção de registro de Conselho
    da categoria
    da classe, conforme o disposto na Lei nº 12.249/10, que alterou o Decreto-Lei nº 9295, de 27 de maio de 1946, artigo
    12,
    parágrafo segundo.</p>
</ion-content>