<ion-header>
  <ion-toolbar>
    <ion-title>
      <marquee scrollamount="7" style="color: #fd0000">Andreza App</marquee>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-button href="descontos" shape="full" style="color: black">Veja o seu Salário Líquido</ion-button>
  <br><br><br>
  <ion-button href="salario" shape="full" style="color: black">Salários Minimos</ion-button>
  <br><br><br>
  <ion-button href="dolar" shape="full" style="color: black">Veja seu Salário em DOLAR</ion-button>
  <br><br>
</ion-content>