<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      <ion-label style="color:#919191; font-family:Verdana, Geneva, Tahoma, sans-serif">T</ion-label>
      <ion-label style="color:rgb(112, 0, 0)">ec</ion-label>
      <ion-label style="color:#919191;  font-family:Verdana, Geneva, Tahoma, sans-serif"> N</ion-label>
      <ion-label style="color:rgb(112, 0, 0)">ews</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-badge class="estilo1">

    <img src="../../assets/img/vestiCalendario.jpg">
  </ion-badge>
  <br>
  <ion-slides>
    <ion-slide>
      <div>
        <ion-badge class="fcale">
          <div text-center>
            <ion-label class="mes">       Outubro        </ion-label>
            <ion-icon name="arrow-round-forward" style="color: #b68500; font-size: 45px;"></ion-icon>
          </div>
          <ion-grid>
            <ion-row>
              <ion-col class="fab">
                <ion-item>
                  <ion-badge slot="start">
                    <h3 style="color: rgb(78, 78, 78)">15</h3>
                  </ion-badge>
                  <ion-label>
                    <div>
                      <h6 style="color: rgb(82, 82, 82)">11/10 até as 15h do dia 15/10/2019</h6>
                      <br>
                      - Inscrições para redução da taxa do <br>
                      Vestibulinho e envio por meio digital,<br>
                      via upload, da documentação comprobatória,<br>
                      no site:
                      <a href="https://www.vestibulinhoetec.com.br/home/">www.vestibulinhoetec.com.br</a>
                    </div>
                  </ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <ion-row>
              <ion-col class="fab">
                <ion-item>
                  <ion-badge slot="start">
                    <h3 style="color: rgb(78, 78, 78)">29</h3>
                  </ion-badge>
                  <ion-label>
                    <div>
                      <h6 style="color: rgb(82, 82, 82)">A partir de 29/10/2019 </h6>
                      <br>
                      -Divulgação no site
                      <a href="https://www.vestibulinhoetec.com.br/home/">www.vestibulinhoetec.com.br</a>
                      <br>
                      do resultado da solicitação de redução da taxa de inscrição.
                    </div>
                  </ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-badge>
      </div>
    </ion-slide>

    <ion-slide>
      <div>
        <ion-badge class="fcale">
          <div text-center>
            <ion-icon name="arrow-round-back" style="color: #b68500; font-size: 45px;"></ion-icon>
            <ion-label class="mes">      Novembro       </ion-label>
            <ion-icon name="arrow-round-forward" style="color: #b68500; font-size: 45px;"></ion-icon>
          </div>
          <ion-grid>
            <ion-row>
              <ion-col class="fab">
                <ion-item>
                  <ion-badge slot="start">
                    <h3 style="color: rgb(78, 78, 78)">12</h3>
                  </ion-badge>
                  <ion-label>
                    <div>
                      <h6 style="color: rgb(82, 82, 82)">De 16/10 até as 15h do dia 12/11/2019</h6>
                      <br>- Inscrições do Processo Seletivo no site
                      <br>
                      <a href="https://www.vestibulinhoetec.com.br/home/">www.vestibulinhoetec.com.br</a>
                    </div>
                  </ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
          <br>
          <br>
          <br>
          <br>
          <br>
        </ion-badge>
      </div>
    </ion-slide>



    <!-- ***************************************************************** -->


    <ion-slide>
      <div>
        <ion-badge class="fcale">
          <div text-center>
            <ion-icon name="arrow-round-back" style="color: #b68500; font-size: 45px;"></ion-icon>
            <ion-label class="mes">      Dezembro       </ion-label>
            <ion-icon name="arrow-round-forward" style="color: #b68500; font-size: 45px;"></ion-icon>
          </div>
          <ion-grid>
            <ion-row>
              <ion-col class="fab">
                <ion-item>
                  <ion-badge slot="start">
                    <h3 style="color: rgb(78, 78, 78)">11</h3>
                  </ion-badge>
                  <ion-label>
                    <div>
                      <h6 style="color: rgb(82, 82, 82)">11/12/2019</h6>
                      <br>- Inscrições do Processo Seletivo no site
                      <br>
                      - Divulgação dos locais de Exame.
                    </div>
                  </ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <ion-row>
              <ion-col class="fab">
                <ion-item>
                  <ion-badge slot="start">
                    <h3 style="color: rgb(78, 78, 78)">15</h3>
                  </ion-badge>
                  <ion-label>
                    <div>
                      <h6 style="color: rgb(82, 82, 82)">15/12/2019, às 13h30min</h6>
                      <br>- Exame, a partir das 18h
                      <br>- Divulgação do gabarito oficial no site<br>
                      <a href="https://www.vestibulinhoetec.com.br/home/">www.vestibulinhoetec.com.br</a>
                    </div>
                  </ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
            <br>
            <br>
            <br>
            <br>
            <br>
            <ion-row>
              <ion-col class="fab">
                <ion-item>
                  <ion-badge slot="start">
                    <h3 style="color: rgb(78, 78, 78)">16</h3>
                  </ion-badge>
                  <ion-label>
                    <div>
                      <h6 style="color: rgb(82, 82, 82)">16/12/2019, a partir das 14h</h6>
                      <br>– Divulgação do gabarito oficial para <br> acesso as vagas remanescentes no site<br>
                      <a href="https://www.vestibulinhoetec.com.br/home/">www.vestibulinhoetec.com.br</a>
                    </div>
                  </ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
            <br>
            <br>
            <br>
            <br>
            <br>
            <ion-row>
              <ion-col class="fab">
                <ion-item>
                  <ion-badge slot="start">
                    <h3 style="color: rgb(78, 78, 78)">17</h3>
                  </ion-badge>
                  <ion-label>
                    <div>
                      <h6 style="color: rgb(82, 82, 82)">17/12/2019, a partir das 14h</h6>
                      <br>– Divulgação do gabarito oficial <br>dos Cursos de Especialização no site<br>
                      <a href="https://www.vestibulinhoetec.com.br/home/">www.vestibulinhoetec.com.br</a>
                    </div>
                  </ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </ion-badge>
      </div>
    </ion-slide>




    <!-- ***************************************************************** -->


    <ion-slide>
      <div>
        <ion-badge class="fcale">
          <div text-center>
            <ion-icon name="arrow-round-back" style="color: #b68500; font-size: 45px;"></ion-icon>
            <ion-label class="mes">      Janeiro       </ion-label>
          </div>
          <ion-grid>
            <ion-row>
              <ion-col class="fab">
                <ion-item>
                  <ion-badge slot="start">
                    <h3 style="color: rgb(78, 78, 78)">9</h3>
                  </ion-badge>
                  <ion-label>
                    <div>
                      <h6 style="color: rgb(82, 82, 82)">A partir de 09/01/2020 </h6>
                      <br>- Divulgação da lista de classificação geral para os
                      <br>cursos técnicos com prova de aptidão
                    </div>
                  </ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
            <br>
            <br>
            <br>
            <br>
            <br>
            <ion-row>
              <ion-col class="fab">
                <ion-item>
                  <ion-badge slot="start">
                    <h3 style="color: rgb(78, 78, 78)">17</h3>
                  </ion-badge>
                  <ion-label>
                    <div>
                      <h6 style="color: rgb(82, 82, 82)">A partir de 17/01/2020</h6>
                      <br> - Divulgação
                      da lista <br>
                      de classificação geral dos demais cursos
                    </div>
                  </ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
            <br>
            <br>
            <br>
            <br>
            <br>
            <ion-row>
              <ion-col class="fab">
                <ion-item>
                  <ion-badge slot="start">
                    <h3 style="color: rgb(78, 78, 78)">20</h3>
                  </ion-badge>
                  <ion-label>
                    <div>
                      <h6 style="color: rgb(82, 82, 82)">20/01/2020</h6>
                      <br>- Divulgação da 1ª lista de<br>
                      convocação e dos documentos <br>necessários para matrícula
                    </div>
                  </ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
            <br>
            <br>
            <br>
            <br>
            <br>

            <ion-row>
              <ion-col class="fab">
                <ion-item>
                  <ion-badge slot="start">
                    <h3 style="color: rgb(78, 78, 78)">23</h3>
                  </ion-badge>
                  <ion-label>
                    <div>
                      <h6 style="color: rgb(82, 82, 82)">23/01 e 24/01/2020</h6>
                      <br>- Divulgação da 2ª lista de
                      convocação <br>e Matrícula da 2ª lista de convocação
                    </div>
                  </ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
          <br>
          <br>
          <br>
          <br>
          <br>

        </ion-badge>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>

<!--
  <p>CALENDÁRIO PROCESSO SELETIVO VESTIBULINHO
   De 11/10 até as 15h do dia 15/10/2019 - Inscrições para redução da taxa do Vestibulinho e envio por meio digital, via upload, da documentação comprobatória, no site www.vestibulinhoetec.com.br
De 16/10 até as 15h do dia 12/11/2019 - Inscrições do Processo Seletivo no site www.vestibulinhoetec.com.br
A partir de 29/10/2019 - Divulgação no site www.vestibulinhoetec.com.br do resultado da solicitação de redução da taxa de inscrição
11/12/2019 - Divulgação dos locais de Exame
15/12/2019, às 13h30min - Exame
15/12/2019, a partir das 18h - Divulgação do gabarito oficial no site www.vestibulinhoetec.com.br
16/12/2019, a partir das 14h – Divulgação do gabarito oficial para acesso as vagas remanescentes no site www.vestibulinhoetec.com.br.
17/12/2019, a partir das 14h – Divulgação do gabarito oficial dos Cursos de Especialização no site www.vestibulinhoetec.com.br.
A partir de 09/01/2020 - Divulgação da lista de classificação geral para os cursos técnicos com prova de aptidão
A partir de 17/01/2020 - Divulgação da lista de classificação geral dos demais cursos
20/01/2020 - Divulgação da 1ª lista de convocação e dos documentos necessários para matrícula
21/01 e 22/01/2020 - Matrícula da 1ª lista de convocação
23/01 e 24/01/2020 - Divulgação da 2ª lista de convocação e Matrícula da 2ª lista de convocação
Valor da taxa de inscrição
R$ 30,00 (trinta reais)
</ion-content>




<ion-fab class="fab">
                  <ion-button class="alvo">
                    <ion-label style="color:rgb(0, 0, 0)">3</ion-label>
                  </ion-button>
                  <ion-fab-list side="left">
                    <ion-badge>
                      <ion-label>De <ion-label style="color:rgb(114, 9, 9)">28/03</ion-label> até as 15h do dia
                        <ion-label style="color:rgb(114, 9, 9)">09/04/2019</ion-label><br> - Inscrições para redução da
                        taxa do Vestibulinho e envio por meio digital, via upload, da documentação <br>comprobatória, no
                        site<br>
                        <a href="https://www.vestibulinhoetec.com.br/home/">www.vestibulinhoetec.com.br</a></ion-label>
                    </ion-badge>
                  </ion-fab-list>
                </ion-fab>
-->