<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" defaultHref="/tabs/tab1">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="color:brown">Vestuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>O TÉCNICO EM VESTUÁRIO é o profissional que supervisiona o processo de confecção do produto conforme padrões de
    qualidade e
    segurança. Acompanha equipes de trabalho que atuam na produção. Define a sequência de montagem do produto,
    considerando as
    diversas formas de execução e características da matéria-prima especificada. Opera máquinas de costura industrial e
    equipamentos
    utilizados na indústria de confecção do vestuário. Avalia fornecedores de matérias-primas.</p>

  <p>Eixo Tecnológico: PRODUÇÃO INDUSTRIAL</p>

  <p>Mercado de trabalho</p>
  <p>indústria de confecção do vestuário; empresa de desenvolvimento de produtos; ateliê de costura; prestação de
    serviços como autônomo.</p>

  <b>Pré-Requisitos</b>
  <p>Para candidato que concluiu ou está cursando o Ensino Médio regular:</p>
  <p>possuir Certificado de Conclusão do Ensino Médio ou declaração que está matriculado na 2ª ou 3ª série do Ensino
    Médio.
    Para candidato que concluiu ou está cursando a Educação de Jovens e Adultos - EJA ou o Exame Nacional para Acesso às
    vagas
    remanescentess de Jovens e Adultos - ENCCEJA:
  possuir Certificado de Conclusão do Ensino Médio ou declaração que está matriculado, a partir do 2º semestre do EJA ou
  2 (dois)
  certificados de aprovação em áreas de estudos do EJA, ou boletim de aprovação do ENCCEJA enviado pelo MEC, ou
  certificado de aprovação do ENCCEJA em 2 (duas) áreas de estudos avaliadas.</p>
  <p>Para candidato que tenha realizado o Exame Nacional do Ensino Médio – ENEM:</p>
  <p>possuir certificado ou declaração de conclusão do Ensino Médio expedido por órgão competente.</p>
</ion-content>