<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start" defaultHref="/tabs/tab1">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title style="color:brown">Administração - (EaD - On-line)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <b>Administração - (EaD - On-line)</b>
  <p>O TÉCNICO EM ADMINISTRAÇÃO é o profissional que controla a rotina administrativa das empresas. Colabora nos
    planejamentos
    estratégico, tático e operacional. Realiza atividades em recursos humanos e intermedeia mão-de-obra para colocação e
    recolocação. Atua na área de compras, auxilia no setor contábil e assessora a área de vendas. Intercambia
    mercadorias e
    serviços e executa atividades nas áreas fiscal e financeira.</p>

  <p>Eixo Tecnológico: GESTÃO E NEGÓCIOS</p>

  <p>Mercado de trabalho</p>
  <p>instituições públicas, privadas e do terceiro setor.</p>


  <b>Comércio - (EaD - On-line)</b>
  <p>O TÉCNICO EM COMÉRCIO é o profissional que aplica métodos de comercialização de bens e serviços, visando à
    competitividade
    no mercado e atendendo as diretrizes organizacionais. Comunica previsões e demandas aos fornecedores. Efetua
    controle
    quantitativo e qualitativo de produtos e procede a sua armazenagem no estabelecimento comercial. Operacionaliza
    planos de
    marketing e comunicação, logística, recursos humanos e comercialização.</p>

  <p>Eixo Tecnológico: GESTÃO E NEGÓCIOS</p>

  <p>Mercado de trabalho</p>
  <p>instituições públicas, privadas e do terceiro setor.</p>


  <b>Guia de Turismo - (EaD - On-line)</b>
  <p>O TÉCNICO EM GUIA DE TURISMO orienta, assiste e conduz pessoas ou grupos durante traslados, passeios, visitas,
    viagens, com ética profissional e respeito ao ambiente, à cultura e à legislação. Informa sobre aspectos
    socioculturais, históricos, ambientais, geográficos e outros interesses do turista. Apresenta ao visitante
    opções de roteiros e itinerários turísticos disponíveis e, quando for o caso, concebe-o considerando as
    expectativas ou necessidades do visitante, tanto no âmbito regional e/ ou nacional. Utiliza instrumentos de
    comunicação, localização, técnicas de condução, de interpretação ambiental e cultural.</p>

  <p>Eixo Tecnológico: TURISMO, HOSPITALIDADE E LAZER</p>

  <p>Mercado de trabalho</p>
  <p>prestação de serviços em empresas de turismo e órgãos governamentais de fomento ao turismo, nas esferas
    municipal, estadual e municipal e de forma autônoma.</p>

  <b>Pré-Requisitos</b>
  <p>Para candidato que concluiu ou está cursando o Ensino Médio regular:</p>
  <p>possuir Certificado de Conclusão do Ensino Médio ou declaração que está matriculado na 2ª ou 3ª série do Ensino
    Médio.</p>
  <p>Para candidato que concluiu ou está cursando a Educação de Jovens e Adultos - EJA ou o Exame Nacional para Acesso
    às vagas
    remanescentess de Jovens e Adultos - ENCCEJA:</p>
  <p>possuir Certificado de Conclusão do Ensino Médio ou declaração que está matriculado, a partir do 2º semestre do EJA
    ou 2 (dois)
    certificados de aprovação em áreas de estudos do EJA, ou boletim de aprovação do ENCCEJA enviado pelo MEC, ou
    certificado de
    aprovação do ENCCEJA em 2 (duas) áreas de estudos avaliadas.</p>
  <p>Para candidato que tenha realizado o Exame Nacional do Ensino Médio – ENEM:</p>
  <p>possuir certificado ou declaração de conclusão do Ensino Médio expedido por órgão competente.</p><br>
</ion-content>